* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
}

h1 {
  font-weight: 300;
  margin-bottom: $space;
}

h2 {
  font-size: $large-font-size;
  margin-bottom: $space;
}

p {
  margin-bottom: $space;
}

a {
  color: black;
}

input {
  &[type='text'],
  &[type='email'],
  &[type='password'] {
    border: 1px solid $input-border;
    font-size: $base-font-size;
    margin-bottom: $space;
    padding: $input-spacing;
  }
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.05);
}

