//Colors
$grey: #ddd;
$white: #fff;
$color-primary: #5b4681;

//Spacing
$space: 1.4rem;
$site-max-width: 50rem;

//Boxed Views
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: $white;

//Fonts
$base-font-size: 1.6rem;

//Form Inputs
$input-border: $grey;
$input-spacing: 1rem;

//Button
$button-bg: $color-primary;
$button-secondary-bg: #f9f9f9;
$button-color: $white;
$button-secondary-color: #777;
$button-pill-color: $color-primary;

//Header
$header-bg: $color-primary;
$header-color: $white;
