//Colors
$grey: #DDDDDD;

//Spacing
$space: 1.4rem;

//Boxed Views
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;

//Fonts
$base-font-size: 1.6rem;

//Form Inputs
$input-border: $grey;
$input-spacing: 1rem;

//Button
$button-bg: #5B4681;
$button-color: white;
$button-pill-color: #5B4681;